<section>
  <p class="title-table">Lista de Produtos cadastrados</p>
  <table class="list-of-products">
    <tr class="header-table">
      <th>Nome</th>
      <th>Código de Barras</th>
      <th>Preço</th>
      <th>Ações</th>
    </tr>
    <tr 
    *ngFor="let product of list">
      <td>{{ product.nome }}</td>
      <td>{{ product.codigoBarras }}</td>
      <td>R$ {{ product.preco }}</td>
      <td class="td-buttons">
        <button
          class="edit"
          [routerLink]="['/edit', product.id]"
        >
          Editar
        </button>
        <button
          class="delete"
          (click)="deleteItem(product)">
          Excluir
        </button>
      </td>
    </tr>
  </table>
  <div *ngIf="deleteConfirmationVisible" class="delete-window">
    <div class="delete-popup">
      <h2 class="text">Tem certeza de que deseja excluir o produto {{ itemToDelete.nome }}?</h2>
      <div class="div-buttons">
        <button (click)="confirmDelete()" class="button-confirm">Confirmar</button>
        <button (click)="cancelDelete()" class="button-cancel">Cancelar</button>
      </div>
      <div class="message">
        <h1>{{ deleteMessage }}</h1>
      </div>
    </div>
  </div>
</section>
